[submodule "vendor/parser-toolkit"]
	path = vendor/parser-toolkit
	url = https://github.com/MasterQ32/parser-toolkit
[submodule "vendor/zig-args"]
	path = vendor/zig-args
	url = https://github.com/MasterQ32/zig-args
